a.title, a.header {
  text-decoration: none
}

a.header {
  color: #333;
}
a.title {
  color: #666
}

textarea{
  width:100%
}

#id_title {
    width: 140px;
}

.fa {
  color:gray;
}

.sharing-is-caring {
  float: right;
  font-size:20px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.5;
  }

.trail { /* className for the trail elements */
    position: absolute;
    height: 15px; width: 15px;
    border-radius: 3px;
    /*background: teal;*/
    background-image: url('cry_15.png');

    /*background-image: url("https://cdn.shopify.com/s/files/1/1061/1924/products/Crying_Face_Emoji_small.png");*/
  }
/**/
/**/
.hero{
  height:250px;
  display:table-cell;
  line-height:20
}

.hero-text {
    margin-top: 100px;
}

#id_text {
  width:100%;
}

.sidebar .stuck{
  width:100px;
}
.stuck {
  position: fixed;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border: 1px solid #000;
	outline: 0;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.menu {
  float:right
}
.menu-item {
    display: inline;
    padding-left: 20px;
}

.menu-2 {
    float: right;
    clear: both;
    margin-top: -20px;
}
