a.title, a.header {
  text-decoration: none
}

a.header {
  color: #333;
}
a.title {
  color: #666
}

textarea{
  width:100%
}

#id_title {
    width: 140px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
  opacity: 0.5;
  }
  
.trail { /* className for the trail elements */
    position: absolute;
    height: 15px; width: 15px;
    border-radius: 3px;
    /*background: teal;*/
    background-image: url('cry_15.png');

    /*background-image: url("https://cdn.shopify.com/s/files/1/1061/1924/products/Crying_Face_Emoji_small.png");*/
  }
/**/
/**/
.hero{
  height:250px;
  display:table-cell;
  line-height:20
}

.hero-text {
    margin-top: 100px;
}

#id_text {
  width:100%;
}

.sidebar .stuck{
  width:100px;
}
.stuck {
  position: fixed;
}
