a.title, a.header {
  text-decoration: none
}

a.header {
  color: #333;
}
a.title {
  color: #666
}

textarea{
  width:100%
}

#id_title {
    width: 200px;
}


.trail { /* className for the trail elements */
    position: absolute;
    height: 100px; width: 100px;
    /*border-radius: 3px;*/
    /*background: teal;*/
    background-image: url("https://cdn.shopify.com/s/files/1/1061/1924/products/Crying_Face_Emoji_small.png");
  }
/**/
