{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Too Little Too Late...</title>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/background.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/1.0.0/typewriter.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="icon" type="image/gif" href="animated_favicon1.gif" >
  </head>
  <body>
    <div class="container" >
      <!-- <div class="page-header">
        <a href="{% url 'sorry_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      </div> -->
      <div class="hero">

      <div class="row hero-text">
        <div class="twelve columns">

        <span id="heroText"><h1><a class="header" href="{% url 'sorry_list'  %}" >I'm sorry for </a><span id="typewriter"></span></h1></span>
      </div>
      </div>
    </div>
    <div class="row">

      <div class="eight columns" >
        {% block content %}
        {% endblock %}
      </div>
      <div class="four columns" >
        <div class="side-bar stuck">

        <form method="POST" class="sorry-form">
          {% csrf_token %}
          <h4>I'm sorry for {{ form.title }}</h4>
          To My {{ form.relationship }}
          <br/>
          {{ form.text }}
          <button type ="submit" class "save">Sorry...</button>
        </form>
      </div>
      </div>
    </div>
  </div>

  </body>
</html>
